<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-truck-inventory-heading">Create or edit a Truck Inventory</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <input type="text" class="form-control" name="date" id="field_date"
                           formControlName="date"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_truckNumber">Truck Number</label>
                    <input type="text" class="form-control" name="truckNumber" id="field_truckNumber"
                           formControlName="truckNumber"/>
                    <div *ngIf="editForm.get('truckNumber').invalid && (editForm.get('truckNumber').dirty || editForm.get('truckNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('truckNumber').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_site">Site</label>
                    <input type="text" class="form-control" name="site" id="field_site"
                           formControlName="site"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partNumber">Part Number</label>
                    <input type="text" class="form-control" name="partNumber" id="field_partNumber"
                           formControlName="partNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partDescription">Part Description</label>
                    <input type="text" class="form-control" name="partDescription" id="field_partDescription"
                           formControlName="partDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                           formControlName="category"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qtyOnHand">Qty On Hand</label>
                    <input type="number" class="form-control" name="qtyOnHand" id="field_qtyOnHand"
                           formControlName="qtyOnHand"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qtyOut">Qty Out</label>
                    <input type="number" class="form-control" name="qtyOut" id="field_qtyOut"
                           formControlName="qtyOut"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
