<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locations">
            <h2><span>Locations</span> {{locations.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Site</span></dt>
                <dd>
                    <span>{{locations.site}}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{locations.street}}</span>
                </dd>
                <dt><span>Zip Code</span></dt>
                <dd>
                    <span>{{locations.zipCode}}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{locations.city}}</span>
                </dd>
                <dt><span>State</span></dt>
                <dd>
                    <span>{{locations.state}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/locations', locations.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
