<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-service-orders-heading">Create or edit a Service Orders</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_site">Site</label>
                    <input type="text" class="form-control" name="site" id="field_site"
                           formControlName="site"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_supervisor">Supervisor</label>
                    <input type="text" class="form-control" name="supervisor" id="field_supervisor"
                           formControlName="supervisor"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_soNumber">So Number</label>
                    <input type="text" class="form-control" name="soNumber" id="field_soNumber"
                           formControlName="soNumber"/>
                    <div *ngIf="editForm.get('soNumber').invalid && (editForm.get('soNumber').dirty || editForm.get('soNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('soNumber').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partNumber">Part Number</label>
                    <input type="text" class="form-control" name="partNumber" id="field_partNumber"
                           formControlName="partNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_partDescription">Part Description</label>
                    <input type="text" class="form-control" name="partDescription" id="field_partDescription"
                           formControlName="partDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_repairCost">Repair Cost</label>
                    <input type="text" class="form-control" name="repairCost" id="field_repairCost"
                           formControlName="repairCost"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_freightCharge">Freight Charge</label>
                    <input type="text" class="form-control" name="freightCharge" id="field_freightCharge"
                           formControlName="freightCharge"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalCharge">Total Charge</label>
                    <input type="text" class="form-control" name="totalCharge" id="field_totalCharge"
                           formControlName="totalCharge"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
