<div>
    <h2 id="page-heading">
        <span>Service Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service-orders" [routerLink]="['/service-orders/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Service Orders
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="serviceOrders?.length === 0">
        <span>No serviceOrders found</span>
    </div>
    <div class="table-responsive" *ngIf="serviceOrders?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Site</span></th>
            <th><span>Supervisor</span></th>
            <th><span>So Number</span></th>
            <th><span>Part Number</span></th>
            <th><span>Part Description</span></th>
            <th><span>Repair Cost</span></th>
            <th><span>Freight Charge</span></th>
            <th><span>Total Charge</span></th>
            <th><span>Notes</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let serviceOrders of serviceOrders ;trackBy: trackId">
                <td><a [routerLink]="['/service-orders', serviceOrders.id, 'view' ]">{{serviceOrders.id}}</a></td>
                <td>{{serviceOrders.site}}</td>
                <td>{{serviceOrders.supervisor}}</td>
                <td>{{serviceOrders.soNumber}}</td>
                <td>{{serviceOrders.partNumber}}</td>
                <td>{{serviceOrders.partDescription}}</td>
                <td>{{serviceOrders.repairCost}}</td>
                <td>{{serviceOrders.freightCharge}}</td>
                <td>{{serviceOrders.totalCharge}}</td>
                <td>{{serviceOrders.notes}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/service-orders', serviceOrders.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/service-orders', serviceOrders.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'service-orders', { outlets: { popup: serviceOrders.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
